<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Note: UserSettingsGroup and ClientSettingsSection both live in "System"
         (System.dll), not "System.Configuration" (System.Configuration.dll);
         those are two different assemblies. Using the wrong assembly name here
         causes a runtime "could not load type" error when the app starts. -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Mo3ModManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <Mo3ModManager.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value></value>
      </setting>
      <setting name="LastProfileName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="LastModID" serializeAs="String">
        <value></value>
      </setting>
    </Mo3ModManager.Properties.Settings>
  </userSettings>
</configuration>
